FORMAT: 1A
HOST: https://api.slaws.info/v1

# Raskovnik SLaWS API
Raskovnik API is a Serbian Lexical Web Service (SLaWS) developed at the Belgrade Center for Digital Humanities. 

This is a work in progress and subject to significant change.


# Forms [/forms/{wordForm}?fields=apikey,limit,offset,filter,paradigm,transliterate,strict,created_since,modified_since,id,form,lemma,msd]
Resources representing forms, lemmas and
morphsyntactic specifications of individual word forms.

# Retrieve All Forms [GET]

+ Parameters

    + wordForm (optional, string) ... The requested wordForm. If no form provided, then all forms from the db are returned, taking however into consideration limits and offsets. 
    (We will have to impose maximum limits etc. but we can deal with that later when we introduce authentication etc.)
    + apikey = (required, string) ... API Key
    + limit = `10` (optional, number) ... The maximum number of results to return.
    + offset = `0` (optional, number) ... The pagination of results to return.
    + filter = `*` (optional, string) ... Filters results based on the MULTEXT-East notation: `*` returns all forms, `N*` returns all nouns, `Nc*` all common nouns, `Nps*` proper nouns in the singular etc. 
    + paradigm = `false` (optional, boolean) ... By default, the system will return the results for a particular `{wordForm}` as requested. If true, it will return a full paradigm of the `{wordForm}` instead.  
    > `/forms/руке?paradigm=false` => руке (gen. sg), руке (nom. pl.), руке (acc. pl.)
    > 
    > `/forms/руке?paradigm=true` => рука, руке, руци, руку etc. 
    >
    
    + transliterate = `false` (optional, boolean) ... Transliterate the `wordForm` from Latin to Cyrillic on the input only. This doesn't affect the output. 
    + strict = `true` (optional, boolean) ... If transliterate is set to `true` and strict is set to `false`, the system will try to match and offer results for loose transliteration:
    > `/forms/reci?transliterate=true&strict=true` => реци
    > 
    > `/forms/reci?transliterate=true&strict=false`  => реци, рећи, речи. 
    
    + created_since = `0` (optional, number) ... Either zero or the Unix timestamp.
    + modified_since = `0` (optional, number) ... Either zero or the Unix timestamp.
    + id = `true` (optional, boolean) ... Include the id of the form in the response. 
    + form = `true` (optional, boolean) ... Include the form in the response.
    + lemma = `true` (optional, boolean) ... Include the lemma of the form in the response. 
    + msd = `true` (optional, boolean) ... Include the morphosyntactic analysis of the form in the response. 


+ Response 200 (application/json)
    
    + Headers

                X-Total-Count: 14
                X-Limit: 10
                X-Offset: 0
           
    + Body

            [
                {
                    "id": 1, 
                    "form": "руке", 
                    "lemma": "рука",     
                    "ana": "Ngsjdjf"
                }, {
                    "id": 2, 
                    "form": "руке", 
                    "lemma": "рука",     
                    "ana": "Nnpkdjf"
                }
            ]

+ Response 200 (application/xml)
    
    + Headers
            
                X-Total-Count: 14
                X-Limit: 10
                X-Offset: 0

    + Body

            <data>
                <forms>
                    <id>1</id>
                    <form>руке</form>
                    <lemma>рука</lemma>
                    <ana>Nasjdjf</ana>
                </forms>
                <forms>
                    <id>2</id>
                    <form>руке</form>
                    <lemma>рука</lemma>
                    <ana>Nnpkdjf</ana>
                </forms>
            </data>


+ Response 400 

    Indicates a bad request (e.g. wrong parameter, missing accept header etc.)

    + Body 
    
+ Response 404

    The requested word form does not exist in the database.
    
    + Body
    
+ Response 503

    The server is currently unable to handle the request.
    
    + Body